

  select * from taikhoan where GioiTinh = 6 and idTinhTrang = 5 and idGroup = 1

  select * from taikhoan where GioiTinh = 6 and idGroup = 1
  select * from taikhoan where GioiTinh = 6 and idGroup = 1


  
  select * from taikhoan where idTinhTrang = 5
  select * from taikhoan where idTinhTrang = 4 and GioiTinh = 6

    select * from taikhoan where idTinhTrang = 4 and idGroup = 1

    select * from taikhoan where idTinhTrang = 4 and idGroup = 1

	    select * from taikhoan where idGroup = 2

		   select * from taikhoan where idGroup = 1

  select * from taikhoan where GioiTinh = 6 and (HoTen like '%d%' or Username like '%d%' or Email like '%d%' or DiaChi like '%d%')

   select * from taikhoan where idGroup = 1 and (HoTen like '%d%' or Username like '%d%' or Email like '%d%' or DiaChi like '%d%')


   select * from taikhoan where idTinhTrang = 4 and (HoTen like '%d%' or Username like '%d%' or Email like '%d%' or DiaChi like '%d%')

   select * from taikhoan where (HoTen like '%d%' or Username like '%d%' or Email like '%d%' or DiaChi like '%d%')


