USE [HTTT_Dodunghoctap]
GO
/****** Object:  StoredProcedure [dbo].[Danh_Sach_Don_Hang]    Script Date: 12/3/2016 2:17:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Danh_Sach_Don_Hang]
AS
	SELECT * FROM dbo.donhang

GO
